<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

<!-- <link rel="stylesheet" href="/css/globalnav.css" type="text/css" /> -->
<link rel="stylesheet" href="/css/global.dist.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="/css/support.css" />
<link rel="stylesheet" type="text/css" href="/css/old-edited-support.css" />
<!-- <link rel="stylesheet" property="stylesheet" href="/css/localnav.css" type="text/css" /> -->
<link rel="stylesheet" property="stylesheet" href="/css/router-strip.css" type="text/css" />

<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
<link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
<link href="/lib/hover/hover.min.css" rel="stylesheet">
<link href="/css/responsive.css" rel="stylesheet">

<link href="/css/responsive.css" rel="stylesheet">
<link rel="shortcut icon" href="images/512-mideo-app-icon.png">

<title>{{ page.title }} - Mideo</title>

</head>

<body>
  <nav id="support-nav">
    <div class="row">
      <div class="container">
        <div class="logo nav-menu">
            <h5><a href="https://topanga.tech" style="color:white;">topanga</a></h5>
        </div>
        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>
        <ul class="nav-menu list-unstyled">
            <li><a href="/terms">Terms of Use</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </nav>

	<main id="main" class="main" role="main">
		<article class="column large-centered large-10 small-12">
            <h1 class="typography-hero-headline">Mideo {{ page.title }}</h1>
            {{ content }}
		</article>
	</main>


    <!-- start section footer -->
    <div id="footer" class="text-center slide">
      <div class="container header-content">
        <h1><span class="typed">topanga.tech</span></h1>
        <div class="socials-media text-center">
          <ul class="list-unstyled">
              <li><a href="mailto:hello@topanga.tech" target="_blank" class="ion-icon-social"><ion-icon name="mail"></ion-icon></a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/jquery/jquery-migrate.min.js"></script>
    <!-- <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="../lib/typed/typed.js"></script>
    <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="../lib/isotope/isotope.pkgd.min.js"></script>
    <script src="https://unpkg.com/ionicons@4.2.4/dist/ionicons.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    <script src="../lib/jquery/jquery.scrollie.min.js"></script>

    <!-- Template Main Javascript File -->
    <script src="../js/main.js"></script>
</body>
</html>
